{% extends 'base.html' %}

{% block title %}
    {% if object %} 
    <title>Update {{object.name}}</title>
    {% else %}
    <title>Add a Toy</title>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %} 
    <!-- object represent the Cat object -->
    <h1>Update {{object.name}}</h1>
    {% else %}
    <h1>Create Toy</h1>
    {% endif %}


<!-- empty action attribute, bc the form will be submitted to the same URL as the current page -->
<form action="" method="POST">
    {% csrf_token %}
    <!-- {{ form }} -->
    <table>
        <!-- two column layout table-->
        {{ form.as_table }}
    </table>
    <input type="submit" value="submit" class="btn blue">
</form>

{% endblock %}